@model ChemicalLibrary.NorthwindEmail
@{
    ViewBag.Title = "Northwind Email Form";
}

<h2>Northwind Email Form</h2>


<span>@Model.ToEmails</span><br />
<span>@Model.Subject</span> <br />
<span>@Model.Body</span>

